<div class="swiper-viewport">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for banner in banners %}
                <div class="swiper-slide" style="background-image:url({{banner.image}})"></div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <!-- Initialize Swiper -->
    <script>
        let swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            effect: 'fade',
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        swiper.init();

        console.log(swiper);
    </script>
</div>